body {
	margin: 0 auto;
	padding: 0;
	/*background: rgb(14, 14, 14) url('../img/background.png') repeat;*/
	background: url('http://www.xsjjys.com/data/out/228/WHDQ-513638648.jpg') repeat;
	color: white;
	font-family: 'Verdana', sans-serif;
	font-size: 13px;
}

h1 {
	text-shadow: 1px 1px 2px black;
}

.container {
	text-align: center;
	margin: 0;
	padding: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
}

.box-container {
	width: 600px;
	margin: 0 auto;
	margin-top: 6rem;
}

.box {
	background-color: #ccc;
	color: black;
	border-radius: 5px;
	padding: 10px;
	margin-top: 4rem;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) !important;
}

.first {
	margin-top: 0 !important;
}

.last {
	border-bottom: none !important;
}

.content,.box .title {
	border-bottom: 1px solid #888;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nobottompadding {
	padding-bottom: 0px !important;
}

.footer {
	text-shadow: 1px 1px 2px black;
	margin-top: 10px;
}

.footer a {
	color: #EEE;
	text-decoration: none;
}

.footer a:hover, .footer a:visted {
	color: #BBB;
	text-decoration: underline;
}

.spacer {
	display:block;
	height: 20px;
}