body {
	margin: 0 auto;
	padding: 0;
	/*background: rgb(14, 14, 14) url('../img/background.png') repeat;*/
	background: url('http://www.xsjjys.com/data/out/228/WHDQ-513638648.jpg') repeat;
	color: white;
	font-family: 'Verdana', sans-serif;
	font-size: 13px;
}

h1 {
	text-shadow: 1px 1px 2px black;
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

.container-fluid {
    justify-content: center;
	align-items: center;
	text-align: center;

	width: 85%;
	margin: 0 auto;
	margin-top: 2rem;
}

.box {
	background-color: #ccc;
	color: black;
	border-radius: 5px;
	padding: 10px;
	margin-top: 1.5rem;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) !important;
}

.first {
	margin-top: 0 !important;
}

.last {
	border-bottom: none !important;
}

.content,.box .title {
	border-bottom: 1px solid #888;
	padding-top: 10px;
	padding-bottom: 10px;
}

th,td {
	padding-top: 5px;
	padding-bottom: 5px;
}

tbody > tr:hover {
	background-color: rgba(128, 128, 128, 0.5);
	cursor: pointer;
}

.nobottompadding {
	padding-bottom: 0px !important;
}

.footer {
	text-shadow: 1px 1px 2px black;
	margin-top: 10px;
}

.footer a {
	color: #444;
	text-decoration: none;
}

.footer a:hover, .footer a:visted {
	color: #666;
	text-decoration: underline;
}

.spacer {
	display:block;
	height: 20px;
}